
header > ul  {
    list-style-type: none ;
    margin: 0;
    padding: 0;
}
header > ul > li {
    display: inline;
    color:teal;
}

h1 {
    text-align: center;
}

header{
    text-align: center;
    display:block;
}
body {
    background-color: powderblue;
    font-family:Montserrat regular;
}
h1 ~ p{
    background-color: silver;
}
ul ~ img{
    background-color: silver;
}
p ~ ul {
    background-color: silver;
}
header{
    background-color:saddlebrown
}
header > p{
    background-color:saddlebrown;
}
header >p ~ ul {
    background-color: saddlebrown;
}
section{
    background-color: silver;
}
h1{
    background-color: silver;
    font-family:Indie Flower;
}

:link {
    color:rgb(53,8,80);
}
:visited {
    color:silver;
}