header > ul  {
    list-style-type: none ;
    margin: 0;
    padding: 0;
}
header > ul > li {
    display: inline;
}

h1 {
    text-align: center;
}

header{
    text-align: center;
    display:block;
}
body {
    background-color: powderblue;
}
h1 ~ p{
    background-color: silver;
}
ul ~ img{
    background-color: silver;
}
p ~ ul {
    background-color: silver;
}
header{
    background-color:saddlebrown
}
header > p{
    background-color:saddlebrown;
}
header >p ~ ul {
    background-color: saddlebrown;
}
section{
    background-color: silver;
}
h1{
    background-color: silver;
}